{% load django_browser_reload static %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'tasks/form.css' %}" />
  </head>
  <body>
    <div id="form-overlay" class="form-overlay">
      <div id="form" class="form">
        <form action="" method="post">
          {% csrf_token %}
          <div class="form-row">
            <label for="{{ form.title.id_for_label }}">Task Title</label>
            {{ form.title }}
          </div>
          <div class="form-row">
            <label for="">due date</label>
            {{ form.due_date }}
          </div>
          <div class="form-row">
            <button type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
