{% load static %}
{% for task in tasks%}
<section>
    <article class="task_element
    {% if task.completed %}
        completed-article
    {% elif task.remaining_days == 'Overdue' %}
        overdue-article
    {% elif task.remaining_days == 'Today' %}
        today-article
    {% endif %}
    ">
        <div class='left-side'>
            <form action="{% url 'delete_task' task.id %}">
                <button class='btn-delete' type="submit">
                    <img src="{% static "tasks/img/delete.png" %}" alt="Delete">
                </button>
            </form>
            <span>{{ task.title }}</span>
            <span id="due-date">{{ task.due_date }}</span>
        </div>
        <div class="right-side">
            <span id="remaining-days">{{ task.remaining_days }}</span>
            <form action="{% url 'toggle_task' task.id %}">
                <input
                    type="checkbox"
                    name="task_complete"
                    id="task_complete"
                    onchange="this.form.submit()"
                    {% if task.completed %} checked {% endif %}
                >
            </form>
        </div>
    </article>
</section>
{% endfor %}