{% load django_browser_reload static %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Tasks</title>
    <link rel="stylesheet" href="{% static 'tasks/style.css' %}">
</head>
<body>
    <h1>Task List</h1>
    <section>
        {% csrf_token %}
        <form action="" method="post">
            <input type="text" name="title" id="task-input">
            <button type="submit">Submit</button>
        </form>
    </section>
    {% for task in tasks%}
    <section>
        <article class="task_element">
            <span>{{ task.title }}</span>
            <input type="checkbox" name="task_completed" id="task_completed" {% if task.completed %} checked {% endif %}>
        </article>
    </section>
    {% endfor %}
</body>
</html>