{% load django_browser_reload static %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'tasks/form.css' %}" />
  </head>
  <body>
    <div id="form-overlay" class="form-overlay">
      <div id="form" class="form-wrapper">
        <form class="modal-form" action="" method="post">
          {% csrf_token %}
                <label for="{{ form.title.id_for_label }}">Task Title</label>
                {{ form.title }}
                <label for="{{ form.due_date.id_for_label }}">Due Date</label>
                {{ form.due_date }}
                <label for="{{ form.category.id_for_label }}">Category</label>
                {{ form.category }}
                <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
