{% load django_browser_reload static %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Tasks</title>
    <link rel="stylesheet" href="{% static 'tasks/style.css' %}">
</head>
<body>
    <h1>Task List</h1>
    <section class="toolbar">
        <div class="left-side">
            <a href='{% url "task_create" %}'>
                Add Task
            </a>
        </div>
        <div class= "right-side" >
            {% csrf_token %}
            <input
                type="text"
                name="search"
        
                hx-get="{% url 'index' %}"
                hx-trigger="keyup changed delay:300ms"
                hx-target="#task-list"
                hx-swap="innerHTML"
                hx-include="closest form"
                placeholder="Search tasks..."
            >
            <form action="" method="get">
                <select name="sort" id="sort-list" onchange=this.form.submit()>
                    {% for key, value in sorts.items %}
                    <option value="{{ key }}" {% if selected_sort == key %} selected {% endif %}>
                        {{ value.label }}</option>
                    {% endfor %}
                </select>
                <span>Hide Completed</span>
                <input
                        type="checkbox"
                        name="hide-completed"
                        id="hide-completed"
                        {% if hide_completed %} checked {% endif %}
                        onchange="this.form.submit()">
            </form>
        </div>
    </section>
    <div id="task-list">
        {% include "tasks/task_list.html" %}
    </div>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
</body>
</html>