<div id="modal-overlay" class="modal-overlay">
  <div id="modal" class="modal">
    <button type="submit" id="close_modal_create" class="close-modal-create">X</button>
    <form action="" method="post">
      {% csrf_token %}
      <div class="modal-row">
        <label for="{{ form.title.id_for_label }}">Task Title</label>
        {{ form.title }}
      </div>
      <div class="modal-row">
        <label for="">due date</label>
        {{ form.due_date }}
      </div>
      <div class="modal-row">
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
