.form-overlay{
    background:rgba(0, 0, 0, 0.5);
    position: fixed;
    inset: 0;

    display: flex;
    z-index: 1000;
    
    justify-content: center;
    align-items: center;
}
.form{
    position: relative;
    padding: 10px;
    background-color: white;
    width: min(90%, 500px);
}
.form .close-form-create{
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.form-row{
    display: flex;
    align-items: center;
    margin: 1rem;
    gap: 1rem;
    justify-content: center;
}
.form-row button{
    width: 40%;
    height: 2rem;
}