.container {
    /* background-color: yellowgreen; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.input-bar{
    margin: 1rem;
}
.search-bar{
    margin: 1rem;
    display: flex;
    gap: 0.5rem;
    box-sizing: border-box;
}
.search-bar select {
    height: 2rem;
    display: flex;
}

.todo_item {
    background-color: yellow;
}

.task_element {
    margin: 10px;
    padding: 14px;

    font-size: 30px;
    border: 3px solid black;
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.completed-article{
    background-color: #9ffce4;
}
.overdue-article{
    background-color: #d97b7b;;
}
.today-article{
    background-color: #b5bf5a;
}

input[type='checkbox']{
    height: 1.3rem;
    aspect-ratio: 1/1;
}
.btn-delete img{
    height: 1.3rem;
    aspect-ratio: 1/1;
    object-fit: contain;
}
#due-date{
    font-size: 1rem;
}
#remaining-days{
    font-size: 1.2rem;
}

.left-side{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.right-side{
    display: flex;
    gap: 1rem;
    align-items: center;
}